.Cellar {
    margin-top: 150px;
    margin-bottom: 100px;
}

.Cellar ul{
    list-style: none;
}

.Cellar img {
    box-shadow: 4px 4px 10px;
    margin-top: 22px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    box-shadow: 4px 4px 10px;
}

.container:hover {
    transform: scale(0.98);
}