.Credentials {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.Credentials.login {
    border: 1px solid red;
}

.Credentials.signup {
    border: 1px solid red;
}

.Credentials button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 30px;
    cursor: pointer;
    font-family: 'Cormorant Unicase', serif;
}