.Credentials {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

.login {
    border: 1px solid black;
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 5px;
}

.signup {
    border: 1px solid black;
    border-radius: 5px;
    height: 350px;
    width: 350px;
    text-align: center;

}

.Credentials button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 145px auto;
    cursor: pointer;
    font-family: 'Cormorant Unicase', serif;

    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

.Credentials button:hover {
    transform: scale(0.9);
}

.signup:hover {
    transform: scale(0.99);
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2));
}

.login:hover {
    transform: scale(0.99); 
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2));
}