/* background options: ../../assets/my-pipes.jpg  */

/* body {
    background: url('../../assets/oriental.png'); no-repeat center center fixed
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
} */

body {
    background: url('../../assets/oriental.png');
}


.Home {
    margin-top: 150px;
}


