/* background options: ../../assets/my-pipes.jpg 
   background images and patterns are better suited to the index.css                 
*/

/* body {
    background: url('../../assets/oriental.png'); no-repeat center center fixed
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
} */



.Home {
    margin-top: 125px;
    margin-bottom: 125px;
}

.Home .container {
    display: flex;
}

.card1 {
    width: 550px;
    height: 550px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    margin: auto;
    background: url('../../assets/swirl_pattern.png');
}

.card2 {
    width: 550px;
    height: 550px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
    margin: auto;
    background: url('../../assets/upfeathers.png') center;
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
}


.Home p {
    color: black;
    background: white;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    font-family: 'Bowlby One SC', cursive;
}


