/*optional colorz: #f2f2f2 */

.NavBar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 34px;
    opacity: 0.7;
    letter-spacing: 1px;
}

.left {
    float: left;
    display: block;
    color: #a1dbff;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: right;
    display: block;
    color: #a1dbff;
    padding: 14px 16px;
    text-decoration: none;
}



a:hover {
    background: #a1dbff;
    color: black;
}